/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  padding: 20px;*/
/*  background-color: #f5f5f5;*/
/*  height: 100vh; !* Ensure full viewport height *!*/
/*}*/

.container {
  align-items: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; /* White background */
  border: 5px solid transparent; /* Transparent border to apply gradient */
  border-radius: 15px; /* Rounded corners */
  padding: 50px;
  margin-bottom: 50px;
  background-clip: padding-box; /* Ensures the background color doesn't overlap the gradient border */
  position: relative; /* Needed to contain the absolute positioned pseudo-element */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for better separation */
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -5px; /* Matches the border size */
  border-radius: inherit; /* Matches the border-radius of the container */
  background: linear-gradient(135deg, #f8ccd9, #ffedc3); /* Gradient border */
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Make it circular */
  margin-bottom: 10px;
}

.greeting {
  font-size: 28px;
  font-weight: bold;
}

.info-box {
  width: 100%;
  max-width: 600px; /* Limit max width for better readability */
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #555555;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.value,
.input {
  font-size: 16px;
}

.input {
  flex: 1;
  font-size: 18px;
  border: 1px solid #ddd;
  border-bottom-width: 1px;
}

.separator {
  border-bottom: 1px dashed black;
  margin: 5px 0;
}

.button-container {
  width: 100%;
  max-width: 600px; /* Limit max width for better readability */
  margin-bottom: 10px;
}

.modify-button,
.action-button {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.modify-button {
  background-color: #eecad5;
  color: #634f4f;
}
