.menu-modal-container {
  width: "100%";
  height: "100%";
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: #bdef92;
  border: 3px solid #eecad5;
  border-radius: 10px;
}

.menu-category-modal-container {
  width: "100%";
  height: "100%";
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: #bdef92;
  border: 3px solid #eecad5;
  border-radius: 10px;
}

.menu-modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.menu-modal-textAreas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  margin-top: 40px;
}

.menu-modal-textArea {
  border: 2px solid #eecad5;
  outline-color: #fba138;
  border-radius: 10px;
  padding: 5px;
  resize: none;
  width: 400px;
  margin-bottom: 5px;
}

.menu-modal-button {
  border-style: solid;
  border-color: #eecad5;
  padding: 0px 7px;
  border-width: 3;
  height: 30px;
  width: 50px;
  font-size: 15px;
}
