.nav-container {
  display: flex;
  background-color: #eecad5;
  justify-content: space-evenly;
  width: 100vw;
  padding: 10px;
}

.nav-button {
  background-color: #eecad5;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(41, 39, 39);
}
