/* NewOptionInput.css */
.option-input-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.option-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.option-input {
    flex: 7;
    margin-right: 5px;
    height: 40px; /* Ensure this matches the button height */
    border: 1px solid #8dc63f; /* Same border color as the input */
    border-radius: 5px; /* Matching border radius */
    padding: 0 10px; /* Add padding for better appearance */
}

.menu-remove-button {
    flex: 3;
    height: 40px; /* Adjust this value to match the input height */
    background-color: #94D35C; /* Optional: Add background color */
    border-radius: 5px; /* Matching border radius */
    cursor: pointer;
    width: 100%; /* Ensure the button takes up the full width of its flex space */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Adjust the font size if needed */
    margin-bottom: 30px;
}

.menu-add-button {
    background-color: #94D35C; /* Optional: Add background color */
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Adjust this value to match the input height */
    width: 100%; /* Ensure the button takes up the full width */
    font-size: 20px; /* Increase the font size for better visibility */
}
