.my-menu-detail-container {
  margin: 3%;
  padding: 2%;
  border-radius: 50px;
  background-color: #eaf7e4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-menu-detail-menuInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-menu-detail-menuInfo-container2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.my-menu-detail-modify-button {
  border-style: solid;
  border-color: #eecad5;
  padding: 0px 7px;
  border-width: 3;
  margin-top: 10px;
  align-self: flex-end;
}

.my-menu-detail-menuInfo-box {
  display: flex;
  border-color: #eecad5;
  border-width: 5;
  border-style: dotted;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-end-end-radius: 50px;
  padding-left: 50px;
  padding: 20px;
  margin: 5px;
}

.my-menu-detail-optionList-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-menu-detail-optionList-container2 {
  display: flex;
  align-items: center;
}

.my-menu-detail-optionList-modify-button {
  border-style: solid;
  border-color: #eecad5;
  padding: 0px 7px;
  margin-left: 20px;
  border-width: 3;
  height: 30px;
  width: 50px;
  font-size: 15px;
}

.my-menu-detail-plus-button {
  border-color: #ffffff;
  background-color: #fba138;
  border-width: 3;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: space-around;
}

.show-menu-detail-image-button-container {
  display: flex;
  justify-content: flex-end;
}

.show-menu-detail-image-button {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 13px;
  background-color: #eecad5;
  font-weight: 600;
}
